{% extends 'base.html' %}
{% load static %}
{% block title %} Kuyruk Üretim Sayfası {% endblock %}
{% block main %} Kuyruk Üretim Sayfası {% endblock %}
{% if request.user.is_authenticated %}

{% block user %} Kullanıcı : {{ request.user.username }} {% endblock %}
{% block role %} Görev : {{ request.user.role }} {% endblock %}

{% endif %}
{% block logout %}<button class="btn btn-danger" onclick="logoutUser()">Çıkış</button>{% endblock %}

{% block extra_js %}



<script>
    var kuyrukListAjaxUrl = "{% url 'kuyruk_list_ajax' %}";
    var kuyrukSilAjaxUrl = "{% url 'kuyruk_sil_ajax' %}";
</script>

<!-- jQuery yükle -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Bootstrap JS yükle -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>


<script src="{% static 'js/kuyruk.js' %}"></script>
{% endblock %}


{% block content %}

<!-- Top Section (Total Count and Production Button) -->
<div class="row">
    <div class="col-md-3">

        <h4 style="color:navy;">Kullanılabilir Kuyruk Sayısı</h4>
        <ul class="list-group">
            <li id="tb2-kuyruk-sayisi"
                class="list-group-item {% if kuyruk_sayilari.TB2 < 2 %}list-group-item-danger{% elif kuyruk_sayilari.TB2 < 3 %}list-group-item-warning{% endif %}">
                TB2: {{ kuyruk_sayilari.TB2 }} Kuyruk</li>
            <li id="tb3-kuyruk-sayisi"
                class="list-group-item {% if kuyruk_sayilari.TB3 < 2 %}list-group-item-danger{% elif kuyruk_sayilari.TB3 < 3 %}list-group-item-warning{% endif %}">
                TB3: {{ kuyruk_sayilari.TB3 }} Kuyruk</li>
            <li id="akinci-kuyruk-sayisi"
                class="list-group-item {% if kuyruk_sayilari.Akıncı < 2 %}list-group-item-danger{% elif kuyruk_sayilari.Akıncı < 3 %}list-group-item-warning{% endif %}">
                Akıncı: {{ kuyruk_sayilari.Akıncı }} Kuyruk</li>
            <li id="kizilelma-kuyruk-sayisi"
                class="list-group-item {% if kuyruk_sayilari.Kızılelma < 2 %}list-group-item-danger{% elif kuyruk_sayilari.Kızılelma < 3 %}list-group-item-warning{% endif %}">
                Kızılelma: {{ kuyruk_sayilari.Kızılelma }} Kuyruk</li>
        </ul>

    </div>
    <div class="col-md-3">
        <h4 style="color:darkred;">Kullanılmış Kuyruk Sayısı</h4>
        <li id="tb2-k-kuyruk-sayisi"
            class="list-group-item {% if k_kuyruk_sayilari.TB2 < 2 %}list-group-item-danger{% elif k_kuyruk_sayilari.TB2 < 3 %}list-group-item-warning{% endif %}">
            TB2: {{ k_kuyruk_sayilari.TB2 }} Kuyruk</li>
        <li id="tb3-k-kuyruk-sayisi"
            class="list-group-item {% if k_kuyruk_sayilari.TB3 < 2 %}list-group-item-danger{% elif k_kuyruk_sayilari.TB3 < 3 %}list-group-item-warning{% endif %}">
            TB3: {{ k_kuyruk_sayilari.TB3 }} Kuyruk</li>
        <li id="akinci-k-kuyruk-sayisi"
            class="list-group-item {% if k_kuyruk_sayilari.Akıncı < 2 %}list-group-item-danger{% elif k_kuyruk_sayilari.Akıncı < 3 %}list-group-item-warning{% endif %}">
            Akıncı: {{ k_kuyruk_sayilari.Akıncı }} Kuyruk</li>
        <li id="kizilelma-k-kuyruk-sayisi"
            class="list-group-item {% if k_kuyruk_sayilari.Kızılelma < 2 %}list-group-item-danger{% elif k_kuyruk_sayilari.Kızılelma < 3 %}list-group-item-warning{% endif %}">
            Kızılelma: {{ k_kuyruk_sayilari.Kızılelma }} Kuyruk</li>
        </ul>
    </div>

    <div class="col-md-6">
        <h3>Uçak Seç ve Kuyruk Üret</h3>
        <form id="kuyrukForm" method="post">
            {% csrf_token %}

            <div class="form-group">
                <label for="ucak_adi">Uçak Seçiniz:</label>
                <select name="ucak_adi" id="ucak_adi" class="form-control">
                    <option value="TB2">TB2</option>
                    <option value="TB3">TB3</option>
                    <option value="Akıncı">Akıncı</option>
                    <option value="Kızılelma">Kızılelma</option>
                </select>
            </div>
            <button class="btn btn-primary" type="submit">Kanat Üret</button>
        </form>

    </div>
</div>

<!-- End of Top Section (Total Count and Production Button) -->


<hr>

<h2 style="text-align: center; margin-top:20px; margin-bottom:20px;">Uçak Tipine Göre Ürünleri Listele</h2>


<!-- Select Plane and Show Info -->
<div class="card-container">
    <div class="card" data-ucak="TB2">
        <img src="{% static 'img/tb2.png' %}" alt="TB2">
        <h3>TB2</h3>
    </div>
    <div class="card" data-ucak="TB3">
        <img src="{% static 'img/tb3.png' %}" alt="TB3">
        <h3>TB3</h3>
    </div>
    <div class="card" data-ucak="Akıncı">
        <img src="{% static 'img/akinci.png' %}" alt="Akıncı">
        <h3>Akıncı</h3>
    </div>
    <div class="card" data-ucak="Kızılelma">
        <img src="{% static 'img/kizilelma.png' %}" alt="Kızılelma">
        <h3>Kızılelma</h3>
    </div>
</div>

<!-- Silme Onayı için Modal -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmationLabel">Silme Onayı</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bu öğeyi silmek istediğinizden emin misiniz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="closeModal">İptal</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteButton">Sil</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="margin-top: 50px;">
        <table class="table" id="kuyrukListesi" style="height:490px;">
            <thead>
                <tr>
                    <th>Uçak Adı</th>
                    <th>Kuyruk Seri Numarası</th>
                    <th>Üretim Tarihi</th>
                    <th>Durum</th>
                    <th>İşlem</th>
                </tr>
            </thead>

            <tbody>
                <!-- Info coming here with AJAX -->
            </tbody>

        </table>
    </div>

    <div class="col-md-12">
        <div id="pagination" class="pagination" style="margin-left:50%; padding-bottom:50px;"></div>
    </div>

</div>
<!-- End of Select Plane and Show Info -->


{% endblock %}

</body>

</html>