$(document).ready(function() {


    function loadParts(ucakAdi) {
        $.ajax({
            url: "{% url 'get_ucak_parts' %}",
            type: 'GET',
            data: { 'ucak_adi': ucakAdi },
            dataType: 'json',
            success: function(data) {
                $('#ucak-adi').text(response.ucak_adi);
                $('#govde-serial').text(response.govde);
                $('#kanat-serial').text(response.kanat);
                $('#kuyruk-serial').text(response.kuyruk);
                $('#aviyonik-serial').text(response.aviyonik);

                $('#govde-stock').text(response.govde_count);
                $('#kanat-stock').text(response.kanat_count);
                $('#kuyruk-stock').text(response.kuyruk_count);
                $('#aviyonik-stock').text(response.aviyonik_count);

                // Tabloyu görünür hale getir
                $('#parca-tablosu').show();
            }
        });
    }

    $('#montajForm').submit(function(event) {
        event.preventDefault(); // Formun normal gönderimini engelle

        // Seri numaralarını ve stok sayısını al
        var govdeSerial = $('#govde-serial').text();
        var kanatSerial = $('#kanat-serial').text();
        var kuyrukSerial = $('#kuyruk-serial').text();
        var aviyonikSerial = $('#aviyonik-serial').text();

        $.ajax({
            url: "{% url 'create_ucak' %}",
            type: 'POST',
            data: {
                'ucak_adi': selectedUcak,
                'govde_serial': govdeSerial,
                'kanat_serial': kanatSerial,
                'kuyruk_serial': kuyrukSerial,
                'aviyonik_serial': aviyonikSerial,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                alert('Üretim başarılı: ' + response.message);
                // Tüm alanları temizle ve tablonun görünümünü sıfırla
                $('#parca-tablosu').hide();
            },
            error: function(xhr, status, error) {
                alert('Üretim sırasında bir hata oluştu: ' + error);
            }
        });
    });
});